<!-- <html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <form id="main" v-cloak>

            <h1>Услуги</h1>
        
            <ul>
                <li v-for="service in services" v-on:click="toggleActive(service)" v-bind:class="{ 'active': service.active}">
                    {{service.name}} <span>{{service.price | currency}}</span>
                </li>
            </ul>
        
            <div class="total">
                Итого: <span>{{total() | currency}}</span>
            </div>
        
        </form>
        
        <script src="index.js"></script>
    </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>

    <div id="app">
        <span v-bind:title="message">Навести на курсор</span>
        <span v-if="seen">Вижу</span>
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>

    <script>
        var app = new Vue ({
            el: '#app',
            data: {
                message: 'Привет ' + new Date().toLocaleString(),
                seen: true,
                todos: [
                    {text: 'Поесть'},
                    {text: 'Покушать'},
                    {text: 'Пожрать'}
                ]
            }
        }) 
    </script>

</body>
</html>
